<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         processIsolation="false"
         stopOnFailure="false"
         bootstrap="vendor/autoload.php"
         cacheResult="false"
>
    <coverage>
        <include>
            <directory suffix=".php">src</directory>
        </include>
        <report>
            <text outputFile="php://stdout" showOnlySummary="true"/>
        </report>
    </coverage>
    <php>
        <ini name="memory_limit" value="-1"/>
        <ini name="display_errors" value="1"/>
        <ini name="error_reporting" value="-1"/>
        <env name="BILLING_SDK_CLIENT_ID" value="application_name"/>
        <env name="BILLING_SDK_APPLICATION_SECRET_KEY" value="application_secret_key"/>
    </php>
    <testsuites>
        <testsuite name="general">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>
    <logging/>
<!--    <source>-->
<!--        <include>-->
<!--            <directory suffix=".php">./tests</directory>-->
<!--        </include>-->
<!--    </source>-->
</phpunit>